<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvmama.tnt.bms.admin.web.mapper.GlobalStatisticsMapper">
    <resultMap id="BaseResultMap" type="com.lvmama.tnt.bms.admin.web.domain.po.GlobalStatisticsDO">
        <id column="id" property="id"/>
        <result column="reach_count" property="reachCount"/>
        <result column="receive_count" property="receiveCount"/>
        <result column="fail_count" property="failCount"/>
        <result column="send_count" property="sendCount"/>
        <result column="timestamp" property="timestamp"/>
    </resultMap>

    <sql id="all_column">
        id,reach_count,receive_count,fail_count,send_count,`timestamp`
    </sql>



    <select id="findByTimeSlot" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select <include refid="all_column"/>
        from tnt_bms_global_statistics
        <where>
            <if test="startTime != null">
                and `timestamp` <![CDATA[ > ]]> #{startTime}
            </if>
            <if test="endTime != null">
                and `timestamp` <![CDATA[ < ]]> #{endTime}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.lvmama.tnt.bms.admin.web.domain.po.GlobalStatisticsDO">
      insert into tnt_bms_global_statistics(reach_count,receive_count,fail_count,send_count,`timestamp`)
      values(#{reachCount},#{receiveCount},#{failCount},#{sendCount},#{timestamp})
    </insert>

    <update id="update" parameterType="com.lvmama.tnt.bms.admin.web.domain.po.GlobalStatisticsDO">
        update tnt_bms_global_statistics
        <set>
          <if test="reachCount != null" >
              reach_count = #{reachCount},
          </if>
          <if test="receiveCount != null" >
              receive_count = #{receiveCount},
          </if>
          <if test="failCount != null" >
              fail_count = #{failCount},
          </if>
          <if test="sendCount != null" >
              send_count = #{sendCount},
          </if>
          <if test="timestamp != null" >
              `timestamp` = #{timestamp},
          </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        delete from tnt_bms_global_statistics where id = #{id}
    </delete>
</mapper>